/*Set HTML5 tags to be block-level instead of inline since they are unknown in IE*/

header, section, footer {
	display: block;
}

/*Create consistency across browsers for the type*/

html {
	font-size: 100%;
	line-height: 1;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/* ==========================================================================
   PROJECT PAGE STYLES
   ========================================================================== */


.page {
	/*max-width: 960px;*/
max-width: 80%;
	margin: 0 auto;
	padding-top: 100px;
}


h1 {
   font-size: 3em;
   line-height: 1.5em;
   font-family: 'Roboto', Avenir, Helvetica, sans-serif;
   font-weight: 400;
   font-style: normal;
   color: rgba(47, 189, 187, 1);
   text-align: center;
   padding-left: 10px;
}

h3 {
   margin-bottom: 25px;
   font-weight: 300;
   font-style: normal;
   font-size: 2em;
   line-height: 1.5em;
   /*max-width: 32em;*/
   font-family: 'Roboto', Avenir, Helvetica, sans-serif;
   color: rgba(11, 113, 137, 1);
   text-align: center;
}

#role {
	/*max-width: 56em;*/
    margin: 0 auto;
}

h4 {
   margin-bottom: 25px;
   font-weight: 300;
   font-style: normal;
   font-size: 20px;
   font-family: 'Roboto', Avenir, Helvetica, sans-serif;
   color: rgba(11, 113, 137, 1);
}


p {
   font-size: 1em; /* 16px/16px = 1em */
   line-height: 1.5em; /* 24px/16px = 1.5em */
   font-family: 'Glegoo', Georgia, serif;
   font-weight: 400;
   font-style: normal;
   max-width: 56em;
   margin: 0 auto;
   margin-top: .8em;
}

figcaption {
   font-size: 14px;
   font-family: 'Glegoo', Georgia, serif;
   font-weight: 400;
   padding-bottom: 0.75em;
   max-width: 36em;
   margin: 0 auto;
}

li {
   font-size: 1em;
   line-height: 1.5em;
   font-family: 'Glegoo', Georgia, serif;
   font-weight: 400;
   font-style: normal;
}

img {
  max-width: 100%;
  margin: 15px auto;
  display: block;
  padding: 1.5em 0;
}

.border {
  border-width: 2px;
  border-style: solid;
  color: rgba(47, 189, 187, 1);
}

div#role_container {
  display: block;
  max-width: 56em;
  margin: 0 auto;
  margin-top: 45px	
}

.list {
	position: relative;
	float: left;
	padding: 0px 20px;
	margin: 0 auto;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	margin-bottom: 50px;
	padding-top: 25px;
	height: 0;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding-top: 20px;
	display: block;
	margin: 0 auto;
}

.project-nav {
	background-color: #2FBDBB;
	width: 100%;
	clear: both;
	position: relative;
	display: table;
}


.previous, .next {
	display: table-cell;
}

.next {
	text-align: right;
	padding-right: 40px;
	right: 0;
}

.previous {
	padding-left: 40px; 
}

.previous-link {
	text-decoration: none;
}

.next-link {
	text-decoration: none;
}

#pre-label {
	display: inline;
	top: .25em;
	color: white;
	font-family: 'Roboto', Avenir, Helvetica, sans-serif;
	font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-left: 5px;
}

#next-label {
	display: inline;
    top: .25em;
	text-align: right;
	color: white;
	font-family: 'Roboto', Avenir, Helvetica, sans-serif;
	font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-right: 5px;
}

.previous img {
	vertical-align: middle;
	display: inline-block;
	padding: 0;
}

.next img {
	vertical-align: middle;
	display: inline-block;
	padding: 0;
}

/* ==========================================================================
   HOME PAGE STYLES
   ========================================================================== */

body {
	margin: 0;
}

.homepage {
	margin: 0 auto;
	max-width: 90%;
}

.nav-bar {
	position: fixed;
	z-index: 99;
	width: 100%;
	top: 0;	
	background-color: white;
	opacity: 0.9;
	line-height: 1em;
}

/*Logo*/
#logo {
	float: left;
	position: absolute;
	padding-left: 20px;
	padding-top: 0;
}


nav ul {
	right: 0;
	text-align: right;
	padding-right: 1em;
}

nav li {
	display: inline-block;
	font-family: 'Roboto', Avenir, Helvetica, sans-serif;
	font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding: .25em;
    margin-top: 1em;
}

/* unvisited link */
nav li a:link {
    color: #58585B;
    text-decoration: none;
}

/* visited link */
nav li a:visited {
    color: #561F37;
}

/* mouse over link */
nav li a:hover {
    color: #2FBDBB;
}

/* selected link */
nav li a:active {
    color: #3E8989;
}


#about {
	margin: 0 auto;
	/*width: 90%;*/
	clear: both;
	margin-top: 150px;
}

#headshot {
	float: left;
width: 34%;
}

#headshot img {
	max-width: 100%;
}

#bio p {
	font-weight: 300;
   font-style: light;
   font-size: 1.625em; /* 26px / 16px = 1.625em */
   line-height: 1.5em;
   font-family: 'Roboto', Avenir, Helvetica, sans-serif;
   color: #58585B;
   /*max-width: 28em;*/
width: 60%;
   padding-top: 60px;
   margin-left: 10px;
   float: left;
}

/*Entire projects section*/
#projects {
	margin: 0 auto;
	width: 90%;
	padding-top: 70px;
	padding-bottom: 70px;
	clear: both;
} 

/*Individual project*/
.projects {
	display: inline-block;
	/*max-width: 400px;*/
width: 33%;
vertical-align: top;	
	padding-top: 1em;
}

.projects img {
	padding: 10px;
	border: solid 2px #2FBDBB;
	max-width: 100%;
display: inline-block;  /*Adding this aligned the text and images but messed up the overlay. */

-webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
     -moz-box-sizing: border-box; /* Firefox ≤ 28 */
          box-sizing: border-box; /* Chrome, Firefox 29+, IE 8+, Opera, Safari 5.1 */
}

.overlay {
	position: relative;
}

.what-if {
	background-color: rgba(47, 189, 187, 0.9);
	font-family: 'Roboto', Avenir, Helvetica, sans-serif;
	font-weight: 400;
    font-size: 1.15em;
    color: white;
    bottom: 0;
    left: 0;
    /*margin: 0;*/
    opacity: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.what-if:hover {
	opacity: 0.9;
}

h2 {
	font-family: 'Roboto', Avenir, Helvetica, sans-serif;
	font-weight: 400;
    font-size: 1em;
    /*line-height: 1.5em;*/
    color: #58585B;
}

#contact {
	width: 100%;
	position: relative;
	background-color: #2FBDBB;
}

.contact-list {
  max-width: 600px;
  margin: 0 auto;
}

.contact-buttons {
	/*margin: 0 auto;
	width: -webkit-fit-content;
     width: -moz-fit-content;
          width: fit-content;*/
}

#contact li {
	/*max-width: 600px;*/
	margin: 0 auto;
	list-style: none;
	display: inline-block;
	padding: 0 1.5em;
}


.footer {
	position: relative;
    padding: 15px;
    clear: both;
    min-height: 15px;
}

.footer p {
	display: inline;
	font-family: 'Roboto', Avenir, Helvetica, sans-serif;
	font-weight: 300;
	font-style: light;
    font-size: 14px;
    color: #2FBDBB;
    position: absolute;
}

.made {
	right: 0;
	padding-right: 1.5em;
}

/* ==========================================================================
   MEDIA QUERIES FOR MOBILE
   ========================================================================== */

@media only screen and (max-width: 640px) {

	#logo {
		float: left;
		position: absolute;
		padding-left: 0;
		top: 0;
		margin: 0 auto;
	}

	#headshot {
		width: 100%;	
	}

	#bio {
		width: 100%;
	}

	#bio p {
		font-size: 20px;
		/*max-width: 90%;*/
	   font-weight: 300;
	   font-style: light;
	   line-height: 34px;
	   font-family: 'Roboto', Avenir, Helvetica, sans-serif;
	   color: #58585B;
	   /*max-width: 28em;*/
	width: 100%;
	   padding-top: 60px;
	   margin-left: 10px;
	   float: left;
	}

	#contact li {
	/*max-width: 600px;*/
	margin: 0 auto;
	list-style: none;
	display: inline-block;
	padding: 0;	
	}

	#pre-label {
		display: none;
	}

	#next-label {
		display: none;
	}

}

@media screen and (max-width: 720px) {

	.projects {
		width: 100%;
	}

	h1 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.25em;
	}
}

@media screen and (min-width: 45em) {

	body {
		font-size: 106.6666667%; /* 1.6em (desired)/1.5em (actual) = 1.066666667*100 = 106.6666667% */
	}
}

/*For tablets*/

@media screen and (min-width: 705px) and (max-width: 980px) {

	.projects {
		width: 45%;
	}

	#headshot {
		width: 100%;
	}

	#bio p {
		width: 100%;
		text-align: center;
	}

}







